# Add any directories, files, or patterns you don't want to be tracked by version control
*.class
# Package Files #
*.war
*.ear
*.springBeans
*.project
*.classpath
jalo/
gensrc/
bin/
**/gensrc/*
**/classes/*
**/items.xsd
**/beans.xsd
**/extensioninfo.xsd
**/platformhome.properties
**/*-testclasses.xml
**/*-webtestclasses.xml
**/build.xml
**/web/addonsrc/*
**/web/commonwebsrc/*
**/web/webroot/**/addons/*
**/web/testclasses/*
/.gitignore
/custom/training/trainingstorefront/resources/wro_addons.xml
/custom/training/trainingstorefront/web/webroot/_ui/responsive/theme-training/node_modules
/custom/training/trainingstorefront/web/webroot/_ui/responsive/theme-training/.sass-cache
/custom/.metadata
*backoffice_bof.jar
